* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
  box-sizing: border-box;
  /*reset Chrome user agent styles*/
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-before: 0px;
  -webkit-padding-after: 0px;
  -webkit-padding-start: 0px;
  -webkit-padding-end: 0px;
}

/* -------------------------------------
General styles (General Module, wrapping around the modules below)
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules below (h2, h3, h4, h5, h6, p, a, ul, li))
*/

body {}

section {
  padding: 40px 20px 40px 20px;
  border-bottom: solid black 1px;
}

h1 {
  font-size: 32px;
  padding: 10px;
}

.title {
  text-align: center;
}

.subtitle {
  text-align: center;
  padding: 20px;
}

button {
  margin: 20px;
  padding: 8px;
  /* background-color: #4CAF50; */
  background-color: grey;
  text-decoration: none;
  border: none;
  border-radius: 3px;
}

label {
  text-align: left;
  padding: 2px;
}

input {
  padding: 5px;
  margin: 5px 0 12px 0; 
  width: 100%;
  border: solid rgb(32, 31, 31) 0.5px;
  border-radius: 3px;
}

input::placeholder {
  font-size: 10px;
}

/* -------------------------------------
Header styles (Main Module)
(all the styles inside the < header > or < nav > tags)
*/
.logo {
  float: left;
  }


/* -------------------------------------
Content styles (Main Module)
(all the styles inside the < sections > or < aside > tags)
*/
.login-form {
  display: inline-flex;
  flex-direction: column;
  cursor: pointer;
}

.form-div {
  text-align: center;
}


.register-form {
  display: inline-flex;
  flex-direction: column;
  cursor: pointer;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: grey;
  float: right;
  width: 100%;
  text-align: right;
  margin-bottom: 60px;
}

li {
  text-decoration: none; 
  display: inline-flex;
}

li a:hover {
  background-color: rgb(34, 33, 33);
}

li a {
  padding: 8px;
  background-color: grey;
  text-decoration: none;  
  color: white;  
  text-align: center;  
}

 
 /* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
  margin: 0px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-top: none;
}

.tablinks {
  margin: 0;
}

.homepage-h2 {
  text-align: center;
}

img {
  width: 300px;
  height: 260px;
  float: right;
  padding: 20px;

}

p.lorem {
    clear: left;

}

#search-term {
  width: 30%;
}


select {
  margin: 10px;
}

textarea {
  height : 150px;
  width: 276px;
}

#comment-submit-button {
  margin-left: 0;
}


ol {
  display: inline-block;
  list-style-type: circle;

}

.favorite {
  padding: 8px;
  text-align: center;  

  
}



/* -------------------------------------
Footer styles (Main Module)
(all the styles inside the < footer > tag)
*/

.footer {
  padding: 30px;
  text-align: center;
  line-height: 5px;
}

/* -------------------------------------
place all the desktop styles above this line
Responsive styles
(the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)
place all the mobile tables styles below this line
*/


/*large desktop*/
@media only screen and (max-width: 1600px) {
  body {
      color: yellow;
  }
}

/*iPad lanscape / small laptop*/
@media only screen and (max-width: 1024px) {
  body {
      color: blue;
  }
}

/*iPad potrait*/
@media only screen and (max-width: 768px) {
  body {
      color: red;
  }
}

/*Android landscape*/
@media only screen and (max-width: 640px) {
  body {
      color: brown;
  }
}

/*iPhone landscape*/
@media only screen and (max-width: 480px) {
  body {
      color: green;
  }
}

/*iPhone portrait*/
@media only screen and (max-width: 320px) {
  body {
      color: purple;
  }
}
